body {
    width: 75%;
    margin: auto;
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
}

nav > ul {
    display: flex;
justify-content: space-around;
}

nav > ul > li {
    display: inline;

}

nav > ul > li > a {
  text-decoration: none;
  color: chocolate;

}



img {
  width: 50%;
  height: auto;
  display: block;
  margin: 10px auto;

}

.space {
    margin: 10px;
}

.favorites > li {
    margin: 10px 0;

}

.favorites > li > a {
  color: darkolivegreen;

}
